# Leitura da base:

In [75]:
from pathlib import Path
import pandas as pd

# ============================================================
# ROOT DO PROJETO (notebook dentro de /notebooks)
# ============================================================
PROJECT_ROOT = Path.cwd().parent

# ============================================================
# CONTEXTO DO DESAFIO
# ============================================================
CHALLENGE_NAME = "desafio_02"

# ============================================================
# CAMINHO DO ARQUIVO RAW
# ============================================================
DATA_RAW_DIR = PROJECT_ROOT / "data" / CHALLENGE_NAME / "raw"
RAW_FILE_PATH = DATA_RAW_DIR / "base_case.csv"

RAW_FILE_PATH

WindowsPath('c:/Users/ggrinspun/Github/desafio-analise-de-credito/data/desafio_02/raw/base_case.csv')

In [76]:
df_base = pd.read_csv(
    RAW_FILE_PATH,
    sep="\t",
    encoding="utf-8"
)

print("Shape:", df_base.shape)
df_base.head()

Shape: (46522, 203)

,index,alvo,REF_DATE,PRODUTO,DIAS_ATRASO,col_4,col_5,col_6,col_7,col_8,...,col_192,col_193,col_194,col_195,col_196,col_197,col_198,col_199,col_200,REGIAO
0,0,0,2023-01-31,CREDITO PESSOAL,52,2461.11,30 a 60,0,0,0,...,0,2,NaN,MEDIO,NaN,3.0,-1.0,1.0,URBANO,NORTE
1,1,0,2022-12-29,CREDITO PESSOAL,37,4674.50,30 a 60,0,0,0,...,0,4,D,MEDIO,D,2.0,1.0,1.0,URBANO,NORDESTE
2,2,0,2023-09-29,CREDITO PESSOAL,36,43649.17,30 a 60,1,0,0,...,0,8,B,MUITO ALTO,B+,4.0,3.0,1.0,URBANO,SUDESTE
3,3,1,2023-02-28,CREDITO PESSOAL,48,1090.58,30 a 60,0,0,0,...,0,1,C,BAIXO,C-,4.0,-4.0,0.0,URBANO,SUDESTE
4,4,0,2023-02-28,CREDITO PESSOAL,34,1495.49,30 a 60,0,0,0,...,0,3,C,MEDIO,C,4.0,-1.0,1.0,URBANO,SUDESTE

# Visão geral da base de dados

In [77]:
import pandas as pd

print("Shape:", df_base.shape)
print(df_base.head(3))
print(df_base.info())

Shape: (46522, 203)
   index  alvo    REF_DATE          PRODUTO  DIAS_ATRASO     col_4    col_5  \
0      0     0  2023-01-31  CREDITO PESSOAL           52   2461.11  30 a 60
1      1     0  2022-12-29  CREDITO PESSOAL           37   4674.50  30 a 60
2      2     0  2023-09-29  CREDITO PESSOAL           36  43649.17  30 a 60

   col_6  col_7  col_8  ...  col_192  col_193  col_194     col_195  col_196  \
0      0      0      0  ...        0        2      NaN       MEDIO      NaN
1      0      0      0  ...        0        4        D       MEDIO        D
2      1      0      0  ...        0        8        B  MUITO ALTO       B+

   col_197  col_198  col_199  col_200    REGIAO
0      3.0     -1.0      1.0   URBANO     NORTE
1      2.0      1.0      1.0   URBANO  NORDESTE
2      4.0      3.0      1.0   URBANO   SUDESTE

[3 rows x 203 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46522 entries, 0 to 46521
Columns: 203 entries, index to REGIAO
dtypes: float64(52), int64(103), object(48)
memory usage: 72.1+ MB
None

In [78]:
TARGET = "alvo"  # ajuste se o nome for outro

print(df_base[TARGET].value_counts())
print(df_base[TARGET].value_counts(normalize=True).round(4))

alvo
0    40542
1     5980
Name: count, dtype: int64
alvo
0    0.8715
1    0.1285
Name: proportion, dtype: float64

In [79]:
num_cols = df_base.select_dtypes(include="number").columns.tolist()
cat_cols = df_base.select_dtypes(include=["object", "category"]).columns.tolist()

print("Numéricas:", len(num_cols))
print("Categóricas:", len(cat_cols))

cat_cols[:10]

Numéricas: 155
Categóricas: 48

['REF_DATE',
 'PRODUTO',
 'col_5',
 'col_79',
 'col_80',
 'col_81',
 'col_82',
 'col_83',
 'col_84',
 'col_85']

In [80]:
missing_rate = (
    df_base.isna().mean()
    .sort_values(ascending=False)
)

print(missing_rate.head(10))

col_180    0.964834
col_181    0.964834
col_160    0.929023
col_142    0.767250
col_116    0.752375
col_151    0.748678
col_121    0.703839
col_122    0.703044
col_113    0.692382
col_114    0.692382
dtype: float64

In [81]:
import numpy as np

missing_target_relation = {}

for col in missing_rate[missing_rate > 0].index[:10]:
    flag = df_base[col].isna().astype(int)
    missing_target_relation[col] = (
        df_base.groupby(flag)[TARGET].mean().to_dict()
    )

missing_target_relation

{'col_180': {0: 0.16198044009779952, 1: 0.1273225504611683},
 'col_181': {0: 0.16198044009779952, 1: 0.1273225504611683},
 'col_160': {0: 0.1408237431859479, 1: 0.12760296159185563},
 'col_142': {0: 0.1407462135205024, 1: 0.12483890850002802},
 'col_116': {0: 0.140625, 1: 0.12456431061082224},
 'col_151': {0: 0.13949709202873758, 1: 0.12486362331323572},
 'col_121': {0: 0.1404412832051096, 1: 0.12353408258001466},
 'col_122': {0: 0.14020991675714803, 1: 0.12361268230042499},
 'col_113': {0: 0.13933337991754594, 1: 0.12374654621092174},
 'col_114': {0: 0.13933337991754594, 1: 0.12374654621092174}}

In [82]:
df_base[num_cols].describe(percentiles=[.01, .05, .95, .99]).T.head(10)

,count,mean,std,min,1%,5%,50%,95%,99%,max
index,46522.0,23260.500000,13429.888948,0.00,465.2100,2326.050,23260.500,44194.9500,46055.7900,46521.00
alvo,46522.0,0.128541,0.334695,0.00,0.0000,0.000,0.000,1.0000,1.0000,1.00
DIAS_ATRASO,46522.0,45.232664,8.358060,31.00,31.0000,33.000,46.000,59.0000,60.0000,60.00
col_4,46522.0,5705.319267,14505.087222,0.76,89.4447,237.314,1823.965,23541.0175,77561.0352,294608.14
col_6,46522.0,0.272538,0.621192,0.00,0.0000,0.000,0.000,1.0000,3.0000,8.00
col_7,46522.0,0.003074,0.056129,0.00,0.0000,0.000,0.000,0.0000,0.0000,2.00
col_8,46522.0,0.000000,0.000000,0.00,0.0000,0.000,0.000,0.0000,0.0000,0.00
col_9,46522.0,0.000150,0.012266,0.00,0.0000,0.000,0.000,0.0000,0.0000,1.00
col_10,46522.0,0.017991,0.132922,0.00,0.0000,0.000,0.000,0.0000,1.0000,1.00
col_11,46522.0,0.142427,0.600622,0.00,0.0000,0.000,0.000,1.0000,3.0000,5.00

In [83]:
df_base["REF_DATE"] = pd.to_datetime(df_base["REF_DATE"], errors="coerce")

df_base["REF_DATE"].min(), df_base["REF_DATE"].max(), df_base["REF_DATE"].isna().mean()

(Timestamp('2022-11-30 00:00:00'),
 Timestamp('2023-11-30 00:00:00'),
 np.float64(0.0))

In [84]:
TARGET = "alvo"

tab_prod = df_base.groupby("PRODUTO")[TARGET].agg(["count", "mean"]).sort_values("mean", ascending=False)
tab_reg  = df_base.groupby("REGIAO")[TARGET].agg(["count", "mean"]).sort_values("mean", ascending=False)

tab_prod, tab_reg

(                 count      mean
 PRODUTO
 CREDITO PESSOAL  46522  0.128541,
               count      mean
 REGIAO
 CENTRO-OESTE   3679  0.148682
 SUL            5176  0.137172
 NORTE          2506  0.129290
 SUDESTE       21508  0.128882
 NORDESTE       9000  0.117889)

In [85]:
cat_cols = df_base.select_dtypes(include=["object","category"]).columns.tolist()

card = df_base[cat_cols].nunique(dropna=False).sort_values(ascending=False)
print(card.head(30))

col_196    16
col_181    15
col_158    13
col_171    13
col_79     12
col_81     12
col_80     12
col_86     12
col_83     12
col_85     12
col_84     12
col_82     12
col_168    11
col_194     6
REGIAO      6
col_172     6
col_178     6
col_145     5
col_143     5
col_147     5
col_146     5
col_154     5
col_144     5
col_184     5
col_185     5
col_121     4
col_122     4
col_117     4
col_118     4
col_119     4
dtype: int64

# Etapa 0 — Setup e “contrato” do dataset
Objetivo:

Travar invariantes do dataset e evitar inconsistências nas etapas seguintes de análise e modelagem.

In [86]:
import pandas as pd
import numpy as np

# Verificar existência da coluna index
assert "index" in df_base.columns, "Coluna 'index' não encontrada no dataset."

# Verificar duplicidade
total_registros = df_base.shape[0]
duplicados_index = df_base["index"].duplicated().sum()

total_registros, duplicados_index

(46522, np.int64(0))

In [87]:
# Verificar se o índice do pandas corresponde à coluna index
alinhado = (df_base.index.values == df_base["index"].values).all()

alinhado

np.True_

In [88]:
if duplicados_index > 0:
    df_base["REF_DATE"] = pd.to_datetime(df_base["REF_DATE"], errors="coerce")
    
    df_base = (
        df_base
        .sort_values("REF_DATE")
        .drop_duplicates(subset="index", keep="last")
        .reset_index(drop=True)
    )
df_base["index"].duplicated().sum()

np.int64(0)

A partir de agora, coluna index:

é única após validação; será utilizada apenas como identificador, não como feature.

In [89]:
# Definir a coluna index como índice do DataFrame
df_base = df_base.set_index("index")

df_base.index.is_unique

True

foi realizada a validação da integridade da chave identificadora do dataset. A coluna index, especificada como identificador único, foi analisada quanto à presença de duplicidades e ao alinhamento com o índice do DataFrame. Não foram identificadas inconsistências após o tratamento, e a coluna foi utilizada exclusivamente para rastreabilidade dos registros, não sendo considerada como variável explicativa nas etapas subsequentes.

# Etapa 1 — Separação de colunas por papel

Objetivo

Definir claramente o papel de cada coluna no dataset, separando variáveis explicativas, variáveis de controle e metadados, de modo a evitar vazamento de informação (data leakage) e facilitar as etapas posteriores de pré-processamento e modelagem.

In [90]:
TARGET = "alvo"

assert TARGET in df_base.columns, "Coluna alvo não encontrada no dataset."

In [91]:
TIME_COL = "REF_DATE"
ID_COL = df_base.index.name  # 'index'

In [92]:
df_base[TIME_COL] = pd.to_datetime(df_base[TIME_COL], errors="coerce")

df_base[TIME_COL].isna().mean()

np.float64(0.0)

In [93]:
cat_cols = df_base.select_dtypes(include=["object", "category"]).columns.tolist()
num_cols = df_base.select_dtypes(include=["number"]).columns.tolist()

cols_to_exclude = [TARGET, TIME_COL]

num_cols = [c for c in num_cols if c not in cols_to_exclude]
cat_cols = [c for c in cat_cols if c not in cols_to_exclude]

In [94]:
feature_cols = num_cols + cat_cols

len(feature_cols), len(num_cols), len(cat_cols)

(200, 153, 47)

In [95]:
summary_cols = pd.DataFrame({
    "coluna": df_base.columns,
    "tipo": df_base.dtypes.astype(str),
    "papel": [
        "target" if c == TARGET
        else "tempo" if c == TIME_COL
        else "feature"
        for c in df_base.columns
    ]
})

summary_cols["papel"].value_counts()

papel
feature    200
target       1
tempo        1
Name: count, dtype: int64

As variáveis do dataset foram classificadas de acordo com seu papel no processo de modelagem. A coluna alvo foi definida como variável dependente, enquanto a coluna REF_DATE foi reservada exclusivamente para controle temporal e validação fora da amostra, evitando vazamento de informação. As demais variáveis foram separadas em numéricas e categóricas, formando o conjunto de variáveis explicativas a ser utilizado nas etapas subsequentes de análise exploratória, tratamento e modelagem.

# Etapa 2 — EDA aprofundada: comportamento do alvo
Objetivo

Compreender o comportamento da inadimplência a partir de recortes relevantes para o negócio, priorizando análises que influenciam decisões de modelagem e interpretação do score.

In [96]:
inadimplencia_global = (
    df_base[TARGET]
    .value_counts(normalize=True)
    .rename("proporcao")
    .sort_index()
)

print(inadimplencia_global)

alvo
0    0.871459
1    0.128541
Name: proporcao, dtype: float64

Desbalanceamento Considerável, A proporção de aproximadamente 13% de maus pagadores indica a necessidade de métricas apropriadas para classificação desbalanceada (ex.: AUC, KS), bem como atenção à calibração e interpretação do score.

In [97]:
bins_atraso = [30, 40, 50, 60]
labels_atraso = ["31–40", "41–50", "51–60"]

df_base["FAIXA_ATRASO"] = pd.cut(
    df_base["DIAS_ATRASO"],
    bins=bins_atraso,
    labels=labels_atraso,
    right=True,
    include_lowest=True
)

inadimplencia_atraso = (
    df_base
    .groupby("FAIXA_ATRASO", observed=True)[TARGET]
    .agg(
        qtd_registros="count",
        taxa_inadimplencia="mean"
    )
)

print(inadimplencia_atraso)

              qtd_registros  taxa_inadimplencia
FAIXA_ATRASO
31–40                 15595            0.150882
41–50                 16059            0.123109
51–60                 14868            0.110977

### Análise de colunas com baixo poder disciminativo

In [98]:
def dominant_rate(s: pd.Series) -> float:
    vc = s.value_counts(dropna=False, normalize=True)
    return float(vc.iloc[0])

dominance = pd.Series(
    {c: dominant_rate(df_base[c]) for c in df_base.columns if c != TARGET}
).sort_values(ascending=False)
dominance.head(30)

PRODUTO    1.000000
col_5      1.000000
col_8      1.000000
col_42     1.000000
col_40     1.000000
col_39     1.000000
col_38     1.000000
col_21     1.000000
col_17     1.000000
col_12     1.000000
col_46     1.000000
col_47     1.000000
col_37     1.000000
col_33     1.000000
col_34     1.000000
col_45     1.000000
col_44     1.000000
col_41     1.000000
col_35     1.000000
col_36     1.000000
col_43     1.000000
col_90     1.000000
col_96     1.000000
col_104    1.000000
col_103    1.000000
col_26     0.999957
col_9      0.999850
col_18     0.999828
col_191    0.999828
col_30     0.999807
dtype: float64

In [99]:
dominance_1_cols = dominance[dominance == 1.0].index.tolist()

dominance_1_summary = pd.DataFrame({
    "missing_rate": df_base[dominance_1_cols].isna().mean(),
    "unique_non_null": df_base[dominance_1_cols].nunique(dropna=True),
    "unique_including_nan": df_base[dominance_1_cols].nunique(dropna=False),
    "most_frequent_value": [
        df_base[c].value_counts(dropna=False).index[0] for c in dominance_1_cols
    ],
    "most_frequent_share": [
        df_base[c].value_counts(dropna=False, normalize=True).iloc[0] for c in dominance_1_cols
    ],
}).sort_values(["missing_rate", "unique_including_nan"], ascending=[False, True])

dominance_1_summary

,missing_rate,unique_non_null,unique_including_nan,most_frequent_value,most_frequent_share
PRODUTO,0.0,1,1,CREDITO PESSOAL,1.0
col_5,0.0,1,1,30 a 60,1.0
col_8,0.0,1,1,0,1.0
col_42,0.0,1,1,0,1.0
col_40,0.0,1,1,0,1.0
col_39,0.0,1,1,0,1.0
col_38,0.0,1,1,0,1.0
col_21,0.0,1,1,0,1.0
col_17,0.0,1,1,0,1.0
col_12,0.0,1,1,0,1.0
col_46,0.0,1,1,0,1.0
col_47,0.0,1,1,0,1.0
col_37,0.0,1,1,0,1.0
col_33,0.0,1,1,0,1.0
col_34,0.0,1,1,0,1.0
col_45,0.0,1,1,0,1.0
col_44,0.0,1,1,0,1.0
col_41,0.0,1,1,0,1.0
col_35,0.0,1,1,0,1.0
col_36,0.0,1,1,0,1.0
col_43,0.0,1,1,0,1.0
col_90,0.0,1,1,0,1.0
col_96,0.0,1,1,0,1.0
col_104,0.0,1,1,0,1.0
col_103,0.0,1,1,0,1.0

Todas as colunas analisadas apresentam o mesmo padrão:

- missing_rate = 0.0
- unique_non_null = 1
- unique_including_nan = 1
- most_frequent_share = 1.0

variáveis com dominância absoluta, apresentando um único valor válido em 100% dos registros. Essas colunas possuem variância nula e, portanto, não carregam qualquer informação discriminativa para o problema de classificação

In [100]:
# Colunas com variância nula (dominância absoluta)
cols_drop_variancia_nula = dominance_1_summary.index.tolist()

len(cols_drop_variancia_nula), cols_drop_variancia_nula
# Remoção efetiva das colunas
df_base = df_base.drop(columns=cols_drop_variancia_nula)

inspeção de colunas que possuem dominancia alta porem não 100%

In [101]:
exclude_cols = {TARGET, TIME_COL}
cols_eval = [c for c in df_base.columns if c not in exclude_cols]

def dominant_rate(s: pd.Series) -> float:
    vc = s.value_counts(dropna=False, normalize=True)
    return float(vc.iloc[0])

dominance = pd.Series(
    {c: dominant_rate(df_base[c]) for c in cols_eval}
).sort_values(ascending=False)

In [102]:
def list_categories(series, max_items=10):
    """
    Retorna uma lista dos valores únicos mais frequentes.
    Limita o número de itens para manter legibilidade.
    """
    values = (
        series
        .value_counts(dropna=False)
        .index
        .tolist()
    )
    
    # Converter NaN para string para visualização
    values = ["NaN" if pd.isna(v) else v for v in values]
    
    if len(values) > max_items:
        return values[:max_items] + ["..."]
    
    return values


top_n = 30
top_dom_cols = dominance.head(top_n).index.tolist()

dominance_table = (
    pd.DataFrame({
        "dominance": dominance.loc[top_dom_cols],
        "dtype": df_base[top_dom_cols].dtypes.astype(str),
        "missing_rate": df_base[top_dom_cols].isna().mean(),
        "nunique": df_base[top_dom_cols].nunique(dropna=False),
        "has_nan": df_base[top_dom_cols].isna().any(),
        "categories": [
            list_categories(df_base[c])
            for c in top_dom_cols
        ]
    })
    .sort_values("dominance", ascending=False)
)

dominance_table

         dominance   dtype  missing_rate  nunique  has_nan categories
col_26    0.999957   int64           0.0        2    False     [0, 1]
col_9     0.999850   int64           0.0        2    False     [0, 1]
col_18    0.999828   int64           0.0        2    False     [0, 1]
col_191   0.999828   int64           0.0        2    False     [0, 1]
col_30    0.999807   int64           0.0        2    False     [0, 1]
col_182   0.999764   int64           0.0        2    False     [0, 1]
col_13    0.999334   int64           0.0        2    False     [0, 1]
col_22    0.998624   int64           0.0        2    False     [0, 1]
col_31    0.997893   int64           0.0        2    False     [0, 1]
col_27    0.997657   int64           0.0        2    False     [0, 1]
col_192   0.997399   int64           0.0        2    False     [0, 1]
col_7     0.996969   int64           0.0        3    False  [0, 1, 2]
col_165   0.996905   int64           0.0        2    False     [0, 1]
col_100   0.996281   int64           0.0        2    False     [0, 1]
col_176   0.995400   int64           0.0        2    False     [0, 1]
col_105   0.994153   int64           0.0        2    False     [0, 1]
col_102   0.994003   int64           0.0        2    False     [0, 1]
col_125   0.993487   int64           0.0        2    False     [0, 1]
col_130   0.992799   int64           0.0        3    False  [0, 1, 2]
col_16    0.992477   int64           0.0        3    False  [0, 1, 2]
col_135   0.992068   int64           0.0        3    False  [0, 1, 2]
col_161   0.990929  object           0.0        2    False     [N, S]
col_93    0.988414   int64           0.0        2    False     [0, 1]
col_25    0.987683   int64           0.0        3    False  [0, 1, 2]
col_97    0.986716   int64           0.0        2    False     [0, 1]
col_10    0.982009   int64           0.0        2    False     [0, 1]
col_183   0.980396   int64           0.0        2    False     [0, 1]
col_95    0.978784   int64           0.0        2    False     [0, 1]
col_98    0.978526   int64           0.0        2    False     [0, 1]
col_126   0.972293   int64           0.0        3    False  [0, 1, 2]

### Análise de Variáveis Quase Constantes

Durante a análise exploratória, foi identificado um conjunto de variáveis com **alta dominância**, isto é, nas quais um único valor concentra a maior parte das observações. Diferentemente das variáveis com dominância absoluta (variância nula), essas colunas ainda apresentam variação residual e, portanto, **não devem ser descartadas automaticamente**. Para orientar o tratamento adequado, essas variáveis foram classificadas em dois grupos conceituais:

#### Grupo A — Variáveis Binárias Extremamente Raras (0/1)
Este grupo é composto por variáveis numéricas binárias, com valores \([0, 1]\), ausência de valores faltantes e forte desbalanceamento entre as classes. Em bases de crédito, esse padrão é típico de **indicadores de eventos raros**, como ocorrências operacionais pontuais ou flags de exceção.  
Essas variáveis não devem ser removidas apenas com base na dominância. A decisão correta depende da **quantificação do sinal**, avaliando o suporte do valor raro e sua associação com a taxa de inadimplência. Quando informativas, devem ser mantidas como *flags* binárias.

(grupo B) variáveis categóricas binárias codificadas como texto, por exemplo \(["S", "N"]\). Do ponto de vista estatístico, são equivalentes às variáveis binárias do Grupo A, diferindo apenas na codificação.

#### Grupo C — Variáveis Discretas com Poucos Níveis (0/1/2)
Inclui variáveis numéricas discretas com pequena cardinalidade, geralmente \([0, 1, 2]\), e dominância elevada. Esse tipo de variável pode representar **categorias**, **níveis de intensidade ou estados discretizados**. Entretanto, os níveis menos frequentes costumam ter baixo suporte estatístico.  
O tratamento adequado exige avaliar se existe **ordem ou monotonicidade** entre os níveis. Como a base não possui descrição do tipo de variável elas serão tratadas como variáveis de classificação


Em todos os casos, a decisão final (manter, transformar ou remover) deve ser baseada em **evidência quantitativa de sinal preditivo**, e não apenas na taxa de dominância observada.

### Tratamento de variáveis quase constantes (Grupos A + B)

A partir desta etapa, adota-se a seguinte diretriz:

Variáveis dos Grupos A (binárias numéricas) e B (binárias categóricas textuais) serão tratadas de forma unificada como indicadores de eventos raros.

A decisão de mantê-las no modelo será baseada exclusivamente em evidência quantitativa, considerando:

suporte do valor de evento (1 ou equivalente),

taxa de inadimplência associada ao evento,

diferença em relação à taxa global de inadimplência.

Essas variáveis não serão avaliadas por dominância isoladamente, nem mantidas em sua forma original categórica/textual.

In [103]:
# Taxa global de inadimplência
GLOBAL_RATE = df_base[TARGET].mean()

# Selecionar colunas binárias (Grupos A + B)
binary_cols = dominance_table.index.tolist()

rare_event_analysis = []

for c in binary_cols:
    s = df_base[c]
    
    # Mapear evento para 1
    if s.dtype == "object":
        # assumir binária textual (ex.: S/N)
        event_value = s.value_counts().index[0]  # dominante
        # evento raro é o outro valor
        event_value = [v for v in s.unique() if v != event_value][0]
        event_series = (s == event_value).astype(int)
    else:
        # binária numérica
        event_series = s.astype(int)
    
    support = event_series.sum()
    
    if support > 0:
        event_rate = df_base.loc[event_series == 1, TARGET].mean()
        delta_rate = event_rate - GLOBAL_RATE
    else:
        event_rate = None
        delta_rate = None
    
    rare_event_analysis.append({
        "variavel": c,
        "support_event": support,
        "event_rate": event_rate,
        "global_rate": GLOBAL_RATE,
        "delta_rate": delta_rate
    })

rare_event_df = (
    pd.DataFrame(rare_event_analysis)
    .sort_values("support_event")
    .reset_index(drop=True)
)

rare_event_df

   variavel  support_event  event_rate  global_rate  delta_rate
0    col_26              2    0.000000     0.128541   -0.128541
1     col_9              7    0.000000     0.128541   -0.128541
2    col_18              8    0.000000     0.128541   -0.128541
3   col_191              8    0.375000     0.128541    0.246459
4    col_30              9    0.111111     0.128541   -0.017430
5   col_182             11    0.000000     0.128541   -0.128541
6    col_13             31    0.161290     0.128541    0.032749
7    col_22             64    0.187500     0.128541    0.058959
8    col_31             98    0.183673     0.128541    0.055132
9    col_27            109    0.100917     0.128541   -0.027624
10  col_192            121    0.181818     0.128541    0.053277
11    col_7            143    0.201439     0.128541    0.072898
12  col_165            144    0.152778     0.128541    0.024236
13  col_100            173    0.115607     0.128541   -0.012934
14  col_176            214    0.140187     0.128541    0.011646
15  col_105            272    0.066176     0.128541   -0.062365
16  col_102            279    0.096774     0.128541   -0.031767
17  col_125            303    0.075908     0.128541   -0.052634
18  col_130            336    0.089820     0.128541   -0.038721
19   col_16            353    0.132565     0.128541    0.004024
20  col_135            370    0.097826     0.128541   -0.030715
21  col_161            422    0.139810     0.128541    0.011269
22   col_93            539    0.153989     0.128541    0.025448
23   col_25            579    0.119929     0.128541   -0.008612
24   col_97            618    0.101942     0.128541   -0.026600
25   col_10            837    0.124253     0.128541   -0.004288
26  col_183            912    0.141447     0.128541    0.012906
27   col_95            987    0.108409     0.128541   -0.020132
28   col_98            999    0.123123     0.128541   -0.005418
29  col_126           1303    0.121569     0.128541   -0.006973

### Métricas para Avaliação de Eventos Raros

Para a análise de variáveis quase constantes tratadas como indicadores de eventos raros, foram utilizadas quatro métricas complementares. Cada uma delas possui um papel estatístico específico e uma **interpretação prática direta no contexto de risco de crédito**:

- **`support_event`**  
  Indica o número de clientes para os quais o evento ocorre (valor igual a 1).  
  **Na prática**, responde à pergunta: *quantos clientes do portfólio apresentam essa característica?*  
  Essa métrica é essencial para avaliar a **robustez da análise**, pois eventos observados em poucos registros tendem a gerar estimativas instáveis e pouco confiáveis.

- **`event_rate`**  
  Corresponde à taxa de inadimplência entre os clientes que apresentam o evento.  
  **Na prática**, indica: *qual é o risco médio dos clientes que possuem essa característica específica?*  
  Essa métrica descreve o comportamento do alvo em um subgrupo específico da base.

- **`global_rate`**  
  Representa a taxa média de inadimplência de toda a base de dados.  
  **Na prática**, funciona como o **risco de referência do portfólio**, ou seja, o comportamento esperado na ausência de qualquer segmentação ou informação adicional.

- **`delta_rate`**  
  É a diferença entre a taxa de inadimplência do evento e a taxa global (`event_rate − global_rate`).  
  **Na prática**, quantifica *quanto a presença do evento aumenta ou reduz o risco em relação ao comportamento médio da base*.  
  Valores positivos indicam aumento de risco, valores negativos indicam efeito protetor, e valores próximos de zero sugerem ausência de ganho preditivo.

Essa combinação de métricas permite avaliar simultaneamente a **estabilidade estatística** e o **impacto prático** de eventos raros, orientando decisões mais seguras sobre a inclusão, transformação ou descarte dessas variáveis no modelo.

In [104]:
cols_drop_low_support = [
    "col_26",
    "col_9",
    "col_18",
    "col_182"
]

df_base = df_base.drop(columns=cols_drop_low_support)

As variáveis associadas a eventos extremamente raros, com suporte amostral insuficiente e ausência de inadimplência observada, foram removidas. Apesar do deslocamento máximo em relação à taxa global, esse comportamento é consequência direta do baixo número de observações, resultando em estimativas instáveis e sem evidência estatística de poder preditivo.

In [105]:
moderate_delta_df = rare_event_df[
    rare_event_df["delta_rate"].abs() <= 0.01
].sort_values("support_event")

moderate_delta_df

   variavel  support_event  event_rate  global_rate  delta_rate
19   col_16            353    0.132565     0.128541    0.004024
23   col_25            579    0.119929     0.128541   -0.008612
25   col_10            837    0.124253     0.128541   -0.004288
28   col_98            999    0.123123     0.128541   -0.005418
29  col_126           1303    0.121569     0.128541   -0.006973

As variáveis classificadas como de **sinal moderado** apresentam diferenças na taxa de inadimplência muito próximas à taxa global da base, indicando, de forma isolada, **baixo poder discriminatório univariado**. No entanto, como a análise das features nessa etapa é realizada de forma cega, sem considerar possíveis interações entre variáveis, tais colunas podem contribuir de maneira indireta para o desempenho do modelo quando combinadas com outras features.  

Dessa forma, optou-se por **não removê-las neste momento**, preservando-as para as etapas posteriores de modelagem e seleção de variáveis multivariada, onde seu valor preditivo poderá ser avaliado de forma mais abrangente.

In [107]:
relevant_pp5 = (
    rare_event_df
    .query("delta_rate >= 0.05")
    .sort_values("delta_rate", ascending=False)
)

relevant_pp5

   variavel  support_event  event_rate  global_rate  delta_rate
3   col_191              8    0.375000     0.128541    0.246459
11    col_7            143    0.201439     0.128541    0.072898
7    col_22             64    0.187500     0.128541    0.058959
8    col_31             98    0.183673     0.128541    0.055132
10  col_192            121    0.181818     0.128541    0.053277

In [108]:
# Variáveis com delta_rate >= +5 p.p.
pp5_vars = ["col_22", "col_31", "col_192", "col_7"]

for c in pp5_vars:
    df_base[f"{c}_rare_flag"] = (df_base[c] == 1).astype(int)

# Remover as colunas originais
df_base = df_base.drop(columns=pp5_vars)

Variáveis associadas a eventos raros com aumento relevante da inadimplência (≥ +5 p.p. em relação à taxa global) foram transformadas em *flags* binárias, preservando o sinal preditivo e reduzindo risco de instabilidade e overfitting.

### Analise de colunas com muitos dados faltantes

In [106]:
summary = pd.DataFrame({
    "dtype": df_base.dtypes.astype(str),
    "missing_rate": df_base.isna().mean(),
    "nunique": df_base.nunique(dropna=False)
}).sort_values("missing_rate", ascending=False)

print(summary.head(30))

           dtype  missing_rate  nunique
col_181   object      0.964834       15
col_180   object      0.964834        2
col_160  float64      0.929023     2581
col_142  float64      0.767250      983
col_116  float64      0.752375      367
col_151  float64      0.748678    10183
col_121   object      0.703839        4
col_122   object      0.703044        4
col_114  float64      0.692382    12507
col_120   object      0.692382        4
col_113  float64      0.692382    12548
col_186   object      0.632604        2
col_140  float64      0.595632     1893
col_156  float64      0.584906    16133
col_158   object      0.584906       13
col_138  float64      0.551159      571
col_139  float64      0.514488      888
col_171   object      0.461459       13
col_172   object      0.461459        6
col_154   object      0.343751        5
col_150  float64      0.343751    26914
col_168   object      0.290078       11
col_141  float64      0.248850     3316
col_115  float64      0.204613      706
col_118   object      0.138988        4
col_169  float64      0.131551       10
col_119   object      0.131486        4
col_200   object      0.104445        4
col_112  float64      0.103392    37005
col_111  float64      0.103392    37166